@media (width <= 900px) {
    /* Responsivo do header */
    header .btn-menu-mob{
        display: block;
    }
    header .menu-desktop, header .btn-contato{
        display: none;
    }
    /* Responsivo do menu dinâmico */
    header.rolar{
        background-color: var(--found-color);
        padding: 5px 0;
        transition: all 0.7s;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }
    /* Responsivo da section hero */
    section.hero-site{
        background-attachment: scroll;
    }
    .hero-site .txt-hero h1{
        font-size: 2.5rem;
        line-height: 50px;
    }
    .hero-site .txt-hero p{
        font-size: 1.1rem;
    }
    .hero-site .txt-hero p span{
        display: block;
    }
    .hero-site .btn-contato button{
        font-size: 1rem;
    }
    /* Responsivo da section sobre */
    section.sobre-site{
        height: auto;
    }
    section.sobre-site .interface{
        flex-direction: column;
    }
    .sobre-site .txt-sobre h2{
        text-align: center;
        font-size: 2.0rem;
    }
    .sobre-site .txt-sobre p{
        text-align: justify;
        font-size: 1rem;
    }
    .sobre-site .img-sobre img{
        width: 95%;
    }
    /* Responsivo da section localização */
    section.localizacao-site{
        height: auto;
    }
    section.localizacao-site .interface{
        flex-direction: column-reverse;
    }
    .localizacao-site .txt-localizacao h2{
        font-size: 2.0rem;
        text-align: center;
    }
    .localizacao-site .txt-localizacao p{
        text-align: justify;
        font-size: 1rem;
    }
    .localizacao-site .img-localizacao{
        padding-left: 20px;
    }
    .localizacao-site .img-localizacao img{
        width: 100%;
    }
    /* Responsivo do footer */
    footer .interface{
        flex-direction: column;
    }
    #copy-footer {
        justify-content: space-evenly;
        flex-direction: column;
    }
}
